# =========================
# paths (user specific)
# =========================

LOCAL="/Users/username/KeePass/KeePass_Vault_local-mac/KeePass_Vault_local-mac.kdbx"

REMOTE="/Users/username/.sync-root/app-sync/KeePass/KeePass_Vault_remote.kdbx"

KEYFILE="/Users/userdata/KeePass/KeePass_Vault_local-mac/keyfile.key"

WATCH_LOCAL_DIR="/Users/userdata/KeePass/KeePass_Vault_local-mac"
WATCH_REMOTE_DIR="/Users/userdata/.sync-root/app-sync/KeePass"

# =========================
# binaries
# =========================

KEEPASSXC="/usr/local/bin/keepassxc-cli"
FSWATCH="/opt/homebrew/bin/fswatch"

# =========================
# state
# =========================

STATE_DIR="$HOME/.kdbx-sync"
LOG_FILE="$STATE_DIR/sync.log"

# =========================
# timing control
# =========================

PUSH_DEBOUNCE=5
PULL_DEBOUNCE=8
IGNORE_WINDOW=6

# =========================
# runtime helpers
# =========================

PATH_ENV="/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
